.info{
    background: #64cbc0;

}
.info-block{
    &__inner{
        padding: 120px 0;
    }
    &__inner img{
        margin: 0 0 40px;
    }
    &__text--about p{
        margin: 0 0 40px;
        max-width: 420px;
        line-height: 1.4;
        font-size: 18px;
        font-weight: 400;
        font-family: Roboto , 'sans-serif';
    }
    &__text--podpis img{
        margin: 0 0 20px;
    }
    &__text--podpis h3{
        margin:0 0 10px;
    }
}