$white: #fff;
$white-half : rgba(255,255,255,.5);
$blue: #4065c6;
$dark-blue: #233a78;
$light-blue: #f2f6ff;
$green: #79d837;
$red: #f56877;
$gray: #7481a3;
$input-border: rgba(255,255,255,.3);
$warning: #ffd500;
$invalid: #ee021b;
$jacksons-purple: #537895;
$eye-of-newt: #b33939;
$chilean-fire: #cd6133;
$alameda-ochre: #cc8e35;
$palm-springs-splash: #218c74;
$transition: .4s cubic-bezier(0.770, 0.000, 0.175, 1.000);
